# Introduction

TSheets is now QuickBooks Time

The TSheets API provides access to the same rich features as our top-rated web-based and mobile apps.  With it you can quickly build time-tracking solutions that simplify workflows and save customers time and money.  For inspiration, have a look at the amazing integrations our partners have built on our [App Marketplace](https://www.tsheets.com/app-marketplace).

Based on [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) principles, it's very easy to write and test applications. You can use your browser to access URLs, and practically any TLS-capable HTTP client in any programming language to interact with the API. The API allows you to query metadata about your account, users, jobcodes, timesheets, GPS points, and custom fields. You can also create timesheets, users, jobcodes, etc.  All access to the API occurs over a TLS-encrypted secure channel, so your API client must support TLS. To ensure data privacy, unencrypted HTTP is not supported.

## Getting Started

<a href="https://www.tsheets.com/#a:apidocs"><img src="images/getting_started-1.png" alt="getting_started-1" style="float:left; width:32%; margin-right: 1%"/></a><a href="#obtaining-an-api-access-token"><img src="images/getting_started-2.png" alt="getting_started-1" style="float:left; width:32%; margin-right: 1%"/></a><a href="#postman-collection"><img src="images/getting_started-3.png" alt="getting_started-1" style="float:left; width:32%; margin-right: 1%"/></a>

<p style="clear: both;">

**1) Signup for a Free Trial**<br/>
[Visit our site today and get started within minutes](https://www.tsheets.com/#a:apidocs)

**2) Obtain an Access Token**<br/>
See the [guided walkthrough](#obtaining-an-api-access-token) to complete the simple steps. (See also [Authentication](#authentication))

**3) Build your Integration**<br/>
For the quickest start, try our [Postman Collection](#postman-collection) along with the API Reference documentation.

## Postman Collection

The quickest way to get started is to use our [Postman](http://www.postman.com/) request collection. The following steps will help you get up and running. If you prefer, our API can also easily be explored with other tools, like cURL.

### 1) Open the TSheets Postman Collection

<div class="postman-run-button"
data-postman-action="collection/import"
data-postman-var-1="48af4cb998b65c0c349a"></div>
<script type="text/javascript">
  (function (p,o,s,t,m,a,n) {
    !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
    !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
      (n = o.createElement("script")),
      (n.id = s+t), (n.async = 1), (n.src = m), n
    ));
  }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
</script>
<style>
  .postman-run-button {
    position: relative;
    left: 30px;
  }
</style>

### 2) Configure the Postman Environment

 * Setup a new environment by clicking the Gear icon at top right
 * Name the new environment _TSheets_ and click _Add_ to create
 * Expand the _GET STARTED_ folder and select the _Environment Setup_ method
 * Select the _Pre-req._ tab and set `tsheets-bearer-token` to the Access Token Value previously obtained
 * Click the _Send_ button

### 3) Explore the API

 * Execute any of the requests within the collection
 * Refer to this documentation for the requirements of each method

<aside class="warning">
If Postman returns a <i><b>"Could not get any response"</b></i> error, most likely you need to set the environment (as in step #2 above).
</aside>

## Base URL

All URLs referenced in the documentation have the following base:

<code class="standout">https://rest.tsheets.com/api/v1</code>

## Contribute
<a href="https://github.com/tsheetsteam/api_docs"><img src="images/GitHub-Mark-32px.png"></a><br/>
Found an error, or would otherwise like to contribute to our API documentation?  Submit a pull request to our <a href="https://github.com/tsheetsteam/api_docs">public GitHub repository</a>.

## Request Throttling

To prevent abuse of the TSheets API, we limit requests to a maximum of 300 calls within any 5 minute time window (subject to change). Rate limiting is primarily considered on a per-connection basis (per access token). If you exceed the current rate limit, you will receive a `429 'Too many requests'` response from our API. You will continue to receive a `429` response until you're out of the current time window. The threshold and time window may adjust dynamically downward if you are found to be abusing the system.

## Response Size Limit

Each request response will return a maximum of 200 results per page (regardless of whether the `limit` parameter is sent with your request). To receive the full response, look for the `"more": true` attribute and iterate sending a new request with the page parameter incremented until you receive `"more": false` in the response payload.

## SDK's & Helper Libraries

<a href="https://github.com/tsheets/api_dotnet"><img src="images/ms.net-logo.png" alt="ms.net-logo" style="float:left; width:15%; margin-right: 1%"/></a><a href="https://github.com/tsheets/api_phplib"><img src="images/php-logo.png" alt="php" style="float:left; width:10%; margin-right: 1%"/></a>

<p style="clear: both;">

This documentation explains the format for calls to the TSheets API with code snippets in cURL and several other languages. Full SDK's and helper libraries are also available upon request to make it even easier for you to get started with TSheets.

### Full SDK's

 * [C#.NET Standard](https://github.com/intuit/TSheets-V1-DotNET-SDK) (hosted on GitHub)

### Helper Libraries

 * [PHP Library](https://github.com/tsheets/api_phplib) (hosted on GitHub)
 * [C#/.NET Framework Library](https://github.com/tsheets/api_dotnet) (hosted on GitHub)
 * [Request a library for your favorite language](https://quickbooks.intuit.com/learn-support/en-us/timesheet-management/07?product=TSheets%20by%20QuickBooks)

 While a helper library can make it easier to consume the API, it is certainly not necessary and the API is still very straight-forward to use even without one. Simply use a built-in http class or library for your language of choice.

 * Java, use [URLConnection](http://docs.oracle.com/javase/7/docs/api/java/net/URLConnection.html) or the [Apache HttpComponents](http://hc.apache.org/)
 * Ruby, use [Net::HTTP](http://www.ruby-doc.org/stdlib-2.1.1/libdoc/net/http/rdoc/Net/HTTP.html)
 * Perl, use [HTTP::Client](http://search.cpan.org/~linc/HTTP-Client-1.51/lib/HTTP/Client.pm)

## Connection Count Information

By default we allow you to connect to 3 additional client accounts (besides your own) via your API application keys. If you are building an integration and are interested in enabling your application for use by any TSheets customer, please [contact us](https://www.tsheets.com/contact-tsheets).

Here are a few of the things we'll be looking for before allowing your application access to our other TSheets customers:

 * Are you obtaining tokens by directing the user through our OAuth flow?
 * Are you storing the API App `client_id` and `client_secret` encrypted?
 * Are you storing OAuth tokens encrypted?
 * Do you have a mechanism in place for refreshing OAuth tokens before they expire - to prevent people from needing to log in again?
 * If you are unable to refresh the token, what is the user experience for logging in and renewing it?
 * What permissions are required for your app to do its work? Are you checking those permissions for the user tied to the OAuth token - and not just assuming you'll have it?
 * When checking for changes to data, are you using the [`last_modified_timestamps`](#last-modified-timestamps) endpoint?
 * How are changes to data being checked from your app? Polling? Manually? Both? If you're polling, how often?
 * If client doesn't have a TSheets account, are you utilizing the account creation mechanism available via the OAuth flow?
 * On initial sync, are you getting all data? On subsequent syncs, are you utilizing last_modified times to pull data?
 * When editing or creating multiple objects, are you doing so via batch operations (i.e. up to 200 with one request vs. a separate request for each)?

## Getting Help

If you have any questions using our API, please visit [Intuit Developer Site](https://help.developer.intuit.com/s/) or [QuickBooks Community Page](https://quickbooks.intuit.com/learn-support/en-us).
